@charset "UTF-8";
/*!  ОБНУЛЕНИЕ */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul,
ol,
li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: inherit;
  font-size: inherit;
}

html, body {
  height: 100%;
  line-height: 1;
}

body {
  height: 100%;
  line-height: 1;
}

body {
  font-family: "Open Sans";
  background: url(../img/fon.jpg);
  color: #fff;
}

.body {
  max-width: 800px;
  margin: 0 auto;
  padding-bottom: 20px;
}
.body .logo {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 10px 0px;
}
.body .logo .logo_center {
  text-align: center;
}
.body .logo h1 {
  font-size: 45px;
  font-weight: 700;
  text-align: center;
  color: #ee711e;
  padding-bottom: 20px;
}
.body .wrapper {
  background-color: #333333;
  border-radius: 20px;
  padding: 10px;
  margin-bottom: 20px;
}
.body .wrapper header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.body .wrapper header img {
  border-radius: 20px 0px 0px 0px;
}
.body .wrapper header .name {
  margin-left: 25px;
}
.body .wrapper header .name h1 {
  font-size: 25px;
  font-weight: 700;
  text-align: left;
  color: #ee711e;
}
.body .wrapper header .name .ingridient {
  padding-top: 15px;
  text-align: left;
}
.body .wrapper header .name .ingridient ul li {
  list-style: disc;
  margin-top: 15px;
  color: #ffffff;
  font-weight: 700;
}
.body .wrapper .kkal p {
  color: #999999;
  padding: 15px 0px 15px 0px;
  font-size: 20px;
  font-weight: 700;
}
.body .wrapper .kkal i {
  font-weight: 300;
}
.body .wrapper .instruction h2 {
  margin: 15px 0px 10px 0px;
  font-size: 30px;
  font-weight: 700;
  color: #ee711e;
}
.body .wrapper .instruction p {
  font-size: 16px;
}
.body .wrapper .back {
  margin-top: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.body .wrapper .back a {
  color: #ee711e;
  text-decoration: underline;
  margin-bottom: 10px;
}
.body .wrapper .back a:hover {
  color: #ff2525;
}